<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="/styles/admin/login.css">

    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class="limiter">
<div class="container-login100">
<div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-50" style="width:400px;">
<form class="login100-form validate-form" method="POST" action="/admin/login">
<span class="login100-form-title p-b-33">
Admin Login
</span>
          <div>

</div>




<div class="wrap-input100 validate-input" data-validate="Valid email is required: ex@abc.xyz" style="border-radius: 10px">
<input class="input100" type="text" name="username" placeholder="Username" style="height:60px;">
<span class="focus-input100-1"></span>
<span class="focus-input100-2"></span>
</div>
<br>
<div class="wrap-input100 validate-input" data-validate="Password is required" style="border-radius: 10px">
<input class="input100" type="password" name="password" placeholder="Password" style="height:60px;">
<span class="focus-input100-1"></span>
<span class="focus-input100-2"></span>
</div>


<div class="container-login100-form-btn m-t-20">
<button class="login100-form-btn" style="border-radius: 10px">
Sign in
</button>
</div>



</form>
</div>
</div>
</div>
  </body>
</html>
