<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>RegistrationForm</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<!-- MATERIAL DESIGN ICONIC FONT -->
		<link rel="stylesheet" href="/styles/user_signup/fonts/material-design-iconic-font/css/material-design-iconic-font.min.css">

		<!-- STYLE CSS -->
        <link rel="stylesheet" href="/styles/user_signup/css/style.css">

        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

        <style>
            /*! CSS Used from: http://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css */
            .alert-dismissible .close {
    position: absolute;
    top: 0;
    right: -50px !important;
    padding: 1.25rem 2.25rem;
    color: inherit;
}
*,::after,::before{box-sizing:border-box;}
button{border-radius:0;}
button:focus{outline:1px dotted;outline:5px auto -webkit-focus-ring-color;}
button{margin:0;font-family:inherit;font-size:inherit;line-height:inherit;}
button{overflow:visible;}
button{text-transform:none;}
button,html [type=button]{-webkit-appearance:button;}
[type=button]::-moz-focus-inner,button::-moz-focus-inner{padding:0;border-style:none;}
.fade{opacity:0;transition:opacity .15s linear;}
.fade.show{opacity:1;}
.alert{position:relative;padding:.75rem 1.25rem;margin-bottom:1rem;border:1px solid transparent;border-radius:.25rem;}
.alert-dismissible{padding-right:4rem;}
.alert-dismissible .close{position:absolute;top:0;right:0;padding:.75rem 1.25rem;color:inherit;}
.alert-warning{color:#856404;background-color:#fff3cd;border-color:#ffeeba;}
.close{float:right;font-size:1.5rem;font-weight:700;line-height:1;color:#000;text-shadow:0 1px 0 #fff;opacity:.5;}
.close:focus,.close:hover{color:#000;text-decoration:none;opacity:.75;}
button.close{padding:0;background-color:transparent;border:0;-webkit-appearance:none;}
@media print{
*,::after,::before{text-shadow:none!important;box-shadow:none!important;}
}


        </style>
	</head>

	<body>

		<div class="wrapper" id="wrapper" style="background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)), url('https://images.pexels.com/photos/40568/medical-appointment-doctor-healthcare-40568.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940') !important;">
			<div class="inner">
				<div class="image-holder">
					<img src="/styles/doc_signup.png" alt="">
				</div>
				<form method="POST"  enctype="multipart/form-data" id="form">

                    <h3>Registration Form</h3>
										<br>
                    <%- include ('partials/messages.ejs') %>
										<div id="form1">
											<div class="form-wrapper">
												<input type="text" placeholder="User Name" name="name" class="form-control" required>
												<i class="zmdi zmdi-account"></i>
											</div>
											<div class="form-group">

												<input type="text" placeholder="City" name="city" class="form-control" required>
												<input type="text" placeholder="Phone Number" name="phonenumber" class="form-control" required>


											</div>

											<div class="form-wrapper">
												<input type="text" placeholder="Email Address" name="email" class="form-control" required>
												<i class="zmdi zmdi-email"></i>
											</div>
											<div class="form-wrapper">
												<input type="password" placeholder="Password" name="password" class="form-control" required>
												<i class="zmdi zmdi-lock"></i>
											</div>
											<div class="form-wrapper">
												<input type="password" placeholder="Confirm Password" name="confirm_password" class="form-control" required>
												<i class="zmdi zmdi-lock"></i>
											</div>
											<div class="form-wrapper" style="border:none;">
																		<!-- <input type="file" name="img" onchange="readURL(this);" class="form-control" style="border:none;" required> -->
																 <input type="file" class="form-control"  onchange="readURL(this);" style="border: none;" name="img" >
																 <i class="zmdi zmdi-image"></i>
											</div>
											<button style="margin-left:50%"  onclick="next()">Next
												<i class="zmdi zmdi-arrow-right"></i>
											</button>
										</div>

										<div id="form2" style="display:none;margin-top:13%">


											<label class="radio-inline">
													<input type="radio" id="gyno" name="doc_type" value="gynac">Gynacologist
													</label>
													<label style="padding-left: 3%" class="radio-inline">
													<input type="radio" id="peda" name="doc_type" value="pedia">Pediatrician
													</label>

													<div class="form-wrapper" style="margin-top:7%">
																	<input type="text" placeholder="Registeration Number" name="reg_no" class="form-control" >
																	<i class="zmdi zmdi-label"></i>
													</div>
													<div class="form-wrapper">
																	<input type="text" placeholder="Year of Registeration" name="year" class="form-control" >
																	<i class="zmdi zmdi-account-box-o"></i>
													</div>
													<div class="form-wrapper">
																	<input type="text" placeholder="State Medical Council" name="council" class="form-control" >
																	<i class="zmdi zmdi-pin"></i>
													</div>


<br>
													<button onclick="prev()" style="width:40px;border-radius: 50%;height:40px;">

														<i style="margin-right:12px;"class="zmdi zmdi-arrow-left"></i>
													</button>


													<button   style="margin-left:50%;margin-top:-14%" onclick="submitForm('/docs/signup#code')">Register
														<i class="zmdi zmdi-arrow-right"></i>
													</button>
										</div>


				</form>
			</div>
		</div>

<% if(code){%>
	<div class="wrapper" id="code" style="background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)), url('https://images.pexels.com/photos/40568/medical-appointment-doctor-healthcare-40568.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940') !important;">
			<div class="inner">
				<div class="image-holder">
					<img src="/styles/doc_signup.png" alt="">
				</div>
                <form style="margin-top:20%" method="POST" action="/docs/signup/code">
                    <h3>Verification Code</h3>
                    <%- include ('partials/messages.ejs') %>
										<div >
											<div class="form-wrapper">
												<input type="text" placeholder="Verification Code" name="verfication_code" class="form-control" required>
												<i class="zmdi zmdi-lock"></i>
											</div>
											<button  style="margin-left:50%;margin-top:10%">Confirm Registration
												<!-- <i class="zmdi zmdi-arrow-right"></i> -->
											</button>
										</div>


				</form>

			</div>
		</div>

<%}%>

<script>
    if (code){
        document.getElementById('wrapper').style.display = 'none';
    }else{
        document.getElementById('wrapper').style.display = 'block';
    }
</script>


<script>
$('#form').on('submit', function(event) {
    event.preventDefault();
});
    function submitForm(action)
    {
        document.getElementById('form').action = action;
        document.getElementById('form').submit();
    }
</script>
<script>

		function next()
		{
			document.getElementById('form1').style.display='none';
			document.getElementById('form2').style.display='block';
		}
		function prev()
		{
			document.getElementById('form2').style.display='none';
			document.getElementById('form1').style.display='block';
		}
</script>


	</body>
</html>
