<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <style >
    /*! CSS Used from: https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css */
button,input{overflow:visible;}
progress{display:inline-block;}
progress,sup{vertical-align:baseline;}
body{margin:0;}
section{display:block;margin-left:30%}
h1{font-size:2em;margin:.67em 0;}
strong{font-weight:bolder;}
small{font-size:80%;}
sup{font-size:75%;line-height:0;position:relative;}
sup{top:-.5em;}
button,input{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0;}
button{text-transform:none;}
[type=submit],button,html [type=button]{-webkit-appearance:button;}
[type=button]::-moz-focus-inner,[type=submit]::-moz-focus-inner,button::-moz-focus-inner{border-style:none;padding:0;}
[type=button]:-moz-focusring,[type=submit]:-moz-focusring,button:-moz-focusring{outline:ButtonText dotted 1px;}
/*! CSS Used from: Embedded */
body{background:rgba(0, 0, 0, 0.1);line-height:1.45rem;color:#444;}
h1{margin:0;margin-bottom:2rem;text-align:center;font-weight:normal;line-height:2.2rem;}
.section{max-width:500px;padding:4rem;margin:-62.8vh 27.3vh 0 auto;background:white;box-shadow:0 1px 2px rgba(0, 0, 0, 0.3);}
.section:before{content:"";width:100%;background:#60bfdc;height:170px;position:absolute;top:0;left:0;z-index:-1;border-bottom:1px solid rgba(0, 0, 0, 0.2);}
.form-instructions{text-align:center;}
form{margin:2rem auto;width:100%;max-width:330px;will-change:transform;}
.fieldgroup{margin:1.5rem 0;position:relative;}
label{position:absolute;top:.8rem;left:0;display:block;font-size:1rem;-webkit-transition:0.2s ease-out;transition:0.2s ease-out;opacity:.5;will-change:top, font-size;}
label:hover{cursor:text;}
input{border:1px solid #fff;font-size:1.2rem;padding:.6rem;padding-left:0;background:transparent;border:none;border-bottom:2px solid #444;-webkit-transition:0.2s;transition:0.2s;width:calc(100% - .6rem);max-width:350px;border-radius:0;}
input:focus{outline:none;}
input:valid{border-color:#444;}
input:focus + label{top:-.8rem;font-size:.7rem;}
.btn{color:#fff;background-color:#60bfdc;padding:.4rem;font-size:1.2rem;line-height:1.2rem;border-radius:5px;border:2px solid transparent;min-width:45px!important;}
.btn:hover{color:#fff;background-color:#60bfdc;text-shadow:0 1px 3px rgba(0, 0, 0, 0.3);-webkit-transition:.2s;transition:.2s;}
.btn:active{color:#fff;background-color:#60bfdc;box-shadow:inset 0 2px 10px rgba(0, 0, 0, 0.3);outline:2px solid #60bfdc;}
.btn:focus{color:#fff;outline:2px solid #60bfdc;outline-offset:2px;}
.btn:active:focus{outline:4px solid #60bfdc;}
.btn-alt{background-color:transparent;color:#60bfdc;border:2px solid #60bfdc;}
.btn-alt:hover{background-color:transparent;color:#60bfdc;border-color:#60bfdc;text-shadow:none;}
.btn-alt:focus{color:#60bfdc;}
.btn-alt:active{color:#fff;background-color:#60bfdc;text-shadow:0 -1px 0 rgba(255, 255, 255, 0.2);}
.buttons{display:-webkit-box;display:flex;}
.buttons .btn{margin-right:15px;}
form .btn{display:inline-block;width:100%;max-width:180px;margin:4rem auto 0 auto;}
[data-step="4"] button.btn{display:block;margin:0 auto;}
.form-progress{position:relative;display:block;margin:3rem auto;width:100%;max-width:400px;}
progress{display:block;position:relative;top:5px;left:5px;-webkit-appearance:none;-moz-appearance:none;appearance:none;background:#60bfdc;width:100%;height:5px;background:none;-webkit-transition:1s;transition:1s;will-change:contents;}
.form-progress-indicator{position:absolute;top:-6px;left:0;display:inline-block;width:20px;height:20px;background:white;border:3px solid #ddd;border-radius:50%;-webkit-transition:all .2s ease-in-out;transition:all .2s ease-in-out;-webkit-transition-delay:.3s;transition-delay:.3s;will-change:transform;}
.form-progress-indicator.one{left:0;}
.form-progress-indicator.two{left:50%;}
.form-progress-indicator.three{left:100%;}
.form-progress-indicator.active{-webkit-animation:bounce .1s forwards;animation:bounce .1s forwards;-webkit-animation-delay:.1s;animation-delay:.1s;border-color:#60bfdc;}
.animation-container{position:relative;width:100%;-webkit-transition:.1s;transition:.1s;will-change:padding;overflow:hidden;}
.form-step{position:absolute;-webkit-transition:1s ease-in-out;transition:1s ease-in-out;-webkit-transition-timing-function:ease-in-out;transition-timing-function:ease-in-out;will-change:transform, opacity;}
.form-step.waiting{-webkit-transform:translateX(400px);transform:translateX(400px);}
.sr-only{position:absolute;width:1px;height:1px;padding:0;margin:-1px;overflow:hidden;clip:rect(0, 0, 0, 0);border:0;}
.hidden{display:none;}
/*! CSS Used keyframes */
@-webkit-keyframes bounce{50%{-webkit-transform:scale(1.5);transform:scale(1.5);}100%{-webkit-transform:scale(1);transform:scale(1);}}
@keyframes bounce{50%{-webkit-transform:scale(1.5);transform:scale(1.5);}100%{-webkit-transform:scale(1);transform:scale(1);}}









/*! CSS Used from: http://localhost:8000/styles/user_signup/fonts/material-design-iconic-font/css/material-design-iconic-font.min.css */
.zmdi{display:inline-block;font:normal normal normal 14px/1 'Material-Design-Iconic-Font';font-size:inherit;text-rendering:auto;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;}
.zmdi-account:before{content:'\f207';}
.zmdi-account:before{content:'\f207';}
/*! CSS Used from: http://localhost:8000/styles/user_signup/css/style.css */
*{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
input{font-family:"Poppins-Regular";color:#333;font-size:13px;}
:focus{outline:none;}
.form-wrapper{position:relative;}
.form-wrapper i{position:absolute;bottom:9px;right:0;}
.form-control{border:1px solid #333;border-top:none;border-right:none;border-left:none;display:block;width:100%;height:30px;padding:0;margin-bottom:25px;}
.form-control::-webkit-input-placeholder{font-size:13px;color:#333;font-family:"Poppins-Regular";}
.form-control::-moz-placeholder{font-size:13px;color:#333;font-family:"Poppins-Regular";}
.form-control:-ms-input-placeholder{font-size:13px;color:#333;font-family:"Poppins-Regular";}
.form-control:-moz-placeholder{font-size:13px;color:#333;font-family:"Poppins-Regular";}
/*! CSS Used from: Embedded */
*,::after,::before{box-sizing:border-box;}
@media print{
*,::after,::before{text-shadow:none!important;box-shadow:none!important;}
}
/*! CSS Used fontfaces */
@font-face{font-family:Material-Design-Iconic-Font;src:url(http://localhost:8000/styles/user_signup/fonts/material-design-iconic-font/fonts/Material-Design-Iconic-Font.woff2?v=2.2.0) format('woff2'),url(http://localhost:8000/styles/user_signup/fonts/material-design-iconic-font/fonts/Material-Design-Iconic-Font.woff?v=2.2.0) format('woff'),url(http://localhost:8000/styles/user_signup/fonts/material-design-iconic-font/fonts/Material-Design-Iconic-Font.ttf?v=2.2.0) format('truetype');}
@font-face{font-family:"Poppins-Regular";src:url("http://localhost:8000/styles/user_signup/fonts/poppins/Poppins-Regular.ttf");}


/*! CSS Used from: http://localhost:8000/styles/user_signup/css/style.css */
*{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
input{font-family:"Poppins-Regular";color:#333;font-size:13px;}
:focus{outline:none;}
.form-group{display:flex;}
.form-group input{width:50%;}
.form-group input:first-child{margin-right:25px;}
.form-control{border:1px solid #333;border-top:none;border-right:none;border-left:none;display:block;width:100%;height:30px;padding:0;margin-bottom:25px;}
.form-control::-webkit-input-placeholder{font-size:13px;color:#333;font-family:"Poppins-Regular";}
.form-control::-moz-placeholder{font-size:13px;color:#333;font-family:"Poppins-Regular";}
.form-control:-ms-input-placeholder{font-size:13px;color:#333;font-family:"Poppins-Regular";}
.form-control:-moz-placeholder{font-size:13px;color:#333;font-family:"Poppins-Regular";}
/*! CSS Used from: Embedded */
*,::after,::before{box-sizing:border-box;}
@media print{
*,::after,::before{text-shadow:none!important;box-shadow:none!important;}
}
/*! CSS Used fontfaces */
@font-face{font-family:"Poppins-Regular";src:url("http://localhost:8000/styles/user_signup/fonts/poppins/Poppins-Regular.ttf");}

    </style>
  </head>
  <body translate="no">
    <div class=""  style="margin-left:11%;">
<img  style="width:800px;height:500px;margin-top:8%"src="https://cdn.techtitute.com/cursospsicologia/media/uploads/curso-rol-psicoterapeuta-psicoterapia6.jpg" alt="">
    </div>
  <section class="section">
  <h1>So you think you can create an ID?</h1>
  <div class="form-progress">
  <progress class="form-progress-bar" min="0" max="100" value="0" step="50" aria-labelledby="form-progress-completion"></progress>
  <div class="form-progress-indicator one active"></div>
  <div class="form-progress-indicator two"></div>
  <div class="form-progress-indicator three"></div>
  <p id="form-progress-completion" class="js-form-progress-completion sr-only" aria-live="polite">0% complete</p>
  </div>
  <div class="animation-container" style="padding-bottom: 530px;">

  <div class="form-step js-form-step" data-step="1" style="padding-left:15%">
  <p class="form-instructions"><h3>Choose the type of appointments</h3></p>
  <form action=""  method="POST" name="form-step-1">
<div  style="display:flex">

<div class="" id='single'>
  <a onclick="return person()"><img style="height:100px;width:100px;" id="person_img" src="https://img.icons8.com/officel/2x/person-male.png"></a>

</div>
<div class="" id='group' style="padding-right:15px;">
  <a onclick="return group()"><img style="height:100px;width:100px;padding-left:20px" id="group_img" src="https://image.flaticon.com/icons/png/512/33/33308.png"></a>
</div>
</div>

  <input type="hidden" name="type" value="type" id="type">



  <div class="buttons">
  <button type="button" class="btn">Next</button>
  </div>
  </div>

  <div class="form-step js-form-step waiting hidden" data-step="2" style="padding-left:8%" id='2'>
    <center><p class="form-instructions"><h3>Fill the details</h3></p></center>

    <div class="form-wrapper">
		      <input type="hidden" name="1_1" placeholder="Start time" id="1_1" class="form-control" >
		</div>
    <div class="form-wrapper">
		      <input type="hidden" name="1_2" placeholder="End time" id="1_2" class="form-control" >
		</div>


    <div class="form-wrapper">
      <input type="hidden" name="2_3" placeholder="topic" id="2_3" class="form-control" >

		</div>
    <div class="form-group">
          <input type="hidden" name="2_1" placeholder="no of days" id="2_1" class="form-control">
          <input type="hidden" name="2_2" placeholder="limit" id="2_2" class="form-control" >
    </div>



  <div class="buttons">
  <button type="button" class="btn btn-alt js-reset">Reset</button>
  <button type="button" class="btn">Next</button>
  </div>
  </div>

  <div class="form-step js-form-step waiting hidden" data-step="3" style="padding-left:20%">
    <p class="form-instructions"><h3>Select your available dates</h3></p>

  <div class="buttons">
  <button type="button" class="btn btn-alt js-reset">Reset</button>
  <button type="submit" class="btn">Save</button>
  </div>
  </form>
  </div>


  </div>
  </section>





<script>

  function person(){
    document.getElementById('type').value='person';
    document.getElementById('1_1').type='time';
    document.getElementById('1_2').type='time';
    document.getElementById('2_1').type='hidden';
    document.getElementById('2_2').type='hidden';
    document.getElementById('2_3').type='hidden';

    document.getElementById('single').style.background='#60bfdc';
    document.getElementById('group').style.background='white';



  }

  function group(){
    document.getElementById('type').value='group';
    document.getElementById('2_1').type='number';
    document.getElementById('2_2').type='number';
    document.getElementById('2_3').type='text';
    document.getElementById('1_1').type='hidden';
    document.getElementById('1_2').type='hidden';
    document.getElementById('single').style.background='white';
    document.getElementById('group').style.background='#60bfdc';




  }

</script>




  <script src="https://static.codepen.io/assets/common/stopExecutionOnTimeout-157cd5b220a5c80d4ff8e0e70ac069bffd87a61252088146915e8726e5d9f147.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script id="rendered-js">
  var $body = $('body');
  var $progressBar = $('progress');
  var $animContainer = $('.animation-container');
  var value = 0;
  var transitionEnd = 'webkitTransitionEnd transitionend';

  /**
                                                            * Resets the form back to the default state.
                                                            * ==========================================
                                                            */
  function formReset() {
    document.getElementById('single').style.background='white';
    document.getElementById('group').style.background='white';

    value = 0;
    $progressBar.val(value);
    $('form input').not('button').val('').removeClass('hasInput');
    $('.js-form-step').removeClass('left leaving');
    $('.js-form-step').not('.js-form-step[data-step="1"]').addClass('hidden waiting');
    $('.js-form-step[data-step="1"]').removeClass('hidden');
    $('.form-progress-indicator').not('.one').removeClass('active');

    $animContainer.css({
      'paddingBottom': $('.js-form-step[data-step="1"]').height() + 'px' });


    console.warn('Form reset.');
    return false;
  }

  /**
     * Sets up the click handlers on the form. Next/reset.
     * ===================================================
     */
  function setupClickHandlers() {

    // Show next form on continue click
    $('button[type="button"]').on('click', function (event) {
      event.preventDefault();
      var $currentForm = $(this).parents('.js-form-step');
      showNextForm($currentForm);
    });

    // Reset form on reset button click
    $('.js-reset').on('click', function () {
      formReset();
    });

    return false;
  }

  /**
     * Shows the next form.
     * @param - Node - The current form.
     * ======================================
     */
  function showNextForm($currentForm) {
    var currentFormStep = parseInt($currentForm.attr('data-step')) || false;
    var $nextForm = $('.js-form-step[data-step="' + (currentFormStep + 1) + '"]');

    console.log('Current step is ' + currentFormStep);
    console.log('The next form is # ' + $nextForm.attr('data-step'));

    $body.addClass('freeze');

    // Ensure top of form is in view
    $('html, body').animate({
      scrollTop: $progressBar.offset().top },
    'fast');

    // Hide current form fields
    $currentForm.addClass('leaving');
    setTimeout(function () {
      $currentForm.addClass('hidden');
    }, 500);

    // Animate container to height of form
    $animContainer.css({
      'paddingBottom': $nextForm.height() + 'px' });


    // Show next form fields
    $nextForm.removeClass('hidden').
    addClass('coming').
    one(transitionEnd, function () {
      $nextForm.removeClass('coming waiting');
    });

    // Increment value (based on 4 steps 0 - 100)
    value += 50;

    // Reset if we've reached the end
    if (value >= 101) {
      formReset();
    } else {
      $('.form-progress').
      find('.form-progress-indicator.active').
      next('.form-progress-indicator').
      addClass('active');

      // Set progress bar to the next value
      $progressBar.val(value);
    }

    // Update hidden progress descriptor (for a11y)
    $('.js-form-progress-completion').html($progressBar.val() + '% complete');

    $body.removeClass('freeze');

    return false;
  }

  /**
     * Sets up and handles the float labels on the inputs.
     =====================================================
     */
  function setupFloatLabels() {
    // Check the inputs to see if we should keep the label floating or not
    $('form input').not('button').on('blur', function () {

      // Different validation for different inputs
      switch (this.tagName) {
        case 'SELECT':
          if (this.value > 0) {
            this.className = 'hasInput';
          } else {
            this.className = '';
          }
          break;



        default:
          break;}

    });

    return false;
  }

  /**
     * Gets the party started.
     * =======================
     */
  function init() {
    formReset();
    setupFloatLabels();
    setupClickHandlers();
  }

  init();
  //# sourceURL=pen.js
      </script>


  </body>
</html>
